html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display:block;
}
body {
    padding-top: 130px;
    line-height: 1;
    background-image: url('../images/fond.png');
    background-repeat: no-repeat;
    background-size: cover;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-------contenu general----------------*/
section {
    margin-bottom: 5em;
}

p,
h2 {
    text-align: center;
}

p {
    padding: 1.4em;
}

h2 {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    font-family: Times,sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.content_section {
    border-radius: 0 0 1em 1em;
    background-color: #BFBFBF;
}

.time {
    padding: 0.3em;
    border-radius: 1em;
    font-weight: bold;
    background-color: #F0CA8D;
}

/*--------barre de menu----------------*/
li {
    font-size: 16px;
    line-height: 25px;
}

li a {
    color: black;
}

.nav {
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    background-color: #4F4F4F;
}

.nav li a:hover {
    color: white;
    background-color: #55B2CF;
}

.nav li a:active {
    color: white;
    background-color: #1219E3;
}

#link_presentation,
#link_skills,
#link_hobbies {
    background-color: #79C965;
}

#link_career,
#link_experiences {
    background-color: #EDC566;
}

/*----------------presentation--------------*/
#section_about_me {
    margin-top: -90px;
    padding-top: 90px;
}

#presentation {
    border-radius: 0 0 1em 1em;
    background-color: #79C965;
    box-shadow: 4px 4px 3px #7A7A7A;
}

#photo_and_name {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    border-right: 1px solid white;
}

#photo_and_name p {
    padding: 0.8em;
    text-align: center;
    line-height: 25px;
}

.img-rounded {
    margin: auto;
    border: 3px solid #79C965;
    background-color: white;
    box-shadow: 4px 4px 3px #7A7A7A;
}

.name_and_title {
    font-size: 17px;
}

#text_presentation {
    margin-top: 50px;
    padding: 0;
    border-radius: 2em;
    background-color: #A8DE92;
}

#text_presentation p {
    text-align: justify;
}

.glyphicon {
    float: left;
    clear: both;
}

#contact p {
    padding: 0.5em;
    text-align: right;
    line-height: 25px;
}

.info_contact {
    text-decoration: underline;
    font-weight: bold;
}

/*-----------------------parcours---------------------------*/
#section_my_career {
    margin-top: -170px;
    padding-top: 170px;
}

#career {
    border-radius: 0 0 1em 1em;
    background-color: #EDC566;
    box-shadow: 4px 4px 3px #7A7A7A;
}

#content_career p {
    line-height: 2em;
}

.img_popschool {
    width: 100px;
    height: 100px;
    margin: auto;
}

.img_istv {
    width: 174px;
    height: 62px;
    margin: auto;
}

#career_middle_column {
    padding-bottom: 2.25em;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

/*----------------------competences----------------------------*/
#section_my_skills {
    margin-top: -75px;
    padding-top: 75px;
}

#skills {
    border-radius: 0 0 1em 1em;
    background-color: #79C965;
    box-shadow: 4px 4px 3px #7A7A7A;
}

.block_img_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block_img_lang {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.img_prog,
.img_divers {
    width: 130px;
    height: 130px;
}

.img_lang {
    width: 130px;
    height: 130px;
}

#title_informatique,
#title_languages {
    color: white;
    background-color: #206321;
}

.section_informatique {
    padding: 0.3em;
    border-radius: 1em;
    font-weight: bold;
    background-color: #A8DE92;
}

#section_info {
    border-right: 1px solid white;
}

.text_img_inf {
    padding: 0;
    font-size: 15px;
    font-weight: bold;
}

.text_img_lang {
    padding: 0;
    font-size: 15px;
    font-weight: bold;
}

/*---------------------experiences-----------------------------*/
#section_my_experiences {
    margin-top: -100px;
    padding-top: 100px;
}

#experiences {
    border-radius: 0 0 1em 1em;
    background-color: #EDC566;
    box-shadow: 4px 4px 3px #7A7A7A;
}

#content_experiences {
    line-height: 30px;
}

#experiences_middle_column {
    padding: 0;
    padding-bottom: 100px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    line-height: 50px;
}

.img_maths {
    width: 82px;
    height: 82px;
    margin: auto;
}

.img_laposte {
    width: 119px;
    height: 89px;
    margin: auto;
}

.img_school {
    width: 81px;
    height: 99px;
    margin: auto;
}

/*----------------------------loisirs------------------------------------*/
#hobbies {
    border-radius: 0 0 1em 1em;
    background-color: #79C965;
    box-shadow: 4px 4px 3px #7A7A7A;
}

#content_hobbies {
    text-align: center;
}

.fa {
    padding-bottom: 0.1em;
}

/*-------------------------------footer---------------------*/
footer {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    color: white;
    background-color: #4F4F4F;
}

.icone {
    color: white;
}

.icone:hover {
    color: #62C3E3;
}

					/*-----------mediaqueries-----------------------------*/
					@media screen and (max-width:767px) {
					h2 {
					    font-size: 17px;
					}

					.nav {
					    padding-top: 0.25em;
					    padding-bottom: 0.1em;
					}

					li {
					    font-size: 12px;
					    line-height: 1.5px;
					}

					body {
					    padding-top: 140px;
					}

					/*-----------presentation-------------*/

					#section_about_me {
					    margin-top: -150px;
					    padding-top: 150px;
					}

					#photo_and_name {
					    border-right: 0;
					}

					.name_and_title {
					    font-size: 15px;
					}

					.img-rounded {
					    width: 112px;
					    height: 168px;
					}

					#text_presentation {
					    margin-top: 20px;
					    padding: 0;
					    border-radius: 0;
					}

					#text_presentation p {
					    font-size: 15px;
					}

					#contact p {
					    text-align: center;
					    font-size: 15px;
					    line-height: 20px;
					}

					/*----------parcours----------------*/

					#section_my_career {
					    margin-top: -140px;
					    padding-top: 140px;
					}

					#career_middle_column {
					    padding-bottom: 2.25em;
					    border-top: 1px solid white;
					    border-right: 0;
					    border-bottom: 1px solid white;
					    border-left: 0;
					}

					#content_career p {
					    font-size: 15px;
					}

					/*----------competences--------------*/

					#section_my_skills {
					    margin-top: -140px;
					    padding-top: 140px;
					}

					.img_prog,
					.img_divers,
					.img_lang {
					    width: 100px;
					    height: 100px;
					}

					.img_lang {
					    margin-left: 20px;
					}

					.text_img_lang {
					    margin-right: 10px;
					    margin-left: 10px;
					}

					.block_img_lang {
					    display: flex;
					    flex-direction: row;
					    justify-content: center;
					    margin-top: 5px;
					}

					#title_informatique,
					#title_languages {
					    font-size: 15px;
					}

					/*--------experiences----------*/

					#section_my_experiences {
					    margin-top: -140px;
					    padding-top: 140px;
					}

					#content_experiences p {
					    font-size: 15px;
					}

					#experiences_middle_column {
					    padding: 0;
					    border-top: 1px solid white;
					    border-right: 0;
					    border-bottom: 1px solid white;
					    border-left: 0;
					}

					/*--------loisirs--------------*/

					#section_my_hobbies {
					    margin-top: -200px;
					    padding-top: 200px;
					}
