html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display:block;
}
body {
    padding-top: 130px;
    line-height: 1;
    background-image: url('../images/fond.png');
    background-repeat: no-repeat;
    background-size: cover;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-------contenu general----------------*/
section {
    margin-bottom: 5em;
}

p,
h2 {
    text-align: center;
}

p {
    padding: 1.4em;
}

h2 {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    font-family: Times,sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.content_section {
    border-radius: 0 0 1em 1em;
    background-color: #BFBFBF;
    box-shadow: 4px 4px 3px #7A7A7A;
}

.time {
    padding: 0.3em;
    border-radius: 1em;
    font-weight: bold;
    background-color: #F0CA8D;
}

/*--------barre de menu----------------*/

li {
    font-size: 16px;
    line-height: 25px;
}

li a {
    color: black;
}

.nav {
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    background-color: #4F4F4F;
}

.nav li a:hover {
    color: white;
    background-color: #55B2CF;
}

.nav li a:active {
    color: white;
    background-color: #1219E3;
}

#link_presentation {
    background-color: #79C965;
}

#link_career {
    background-color: #EDC566;
}

#link_skills {
    background-color: #79C965;
}

#link_experiences {
    background-color: #EDC566;
}

#link_hobbies {
    background-color: #79C965;
}

/*----------------presentation--------------*/

#content_prensentation {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#presentation {
    margin-top: -90px;
    padding-top: 90px;
}

#title_presentation {
    background-color: #79C965;
}

#photo_and_name {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    border-right: 1px solid white;
}

#photo_and_name p {
    padding: 0.8em;
    text-align: center;
    line-height: 25px;
}

.img-rounded {
    margin: auto;
    border: 3px solid #79C965;
    background-color: white;
    box-shadow: 4px 4px 3px #7A7A7A;
}

.titlename {
    font-size: 20px;
}

#text_presentation {
    margin-top: 50px;
    padding: 0;
    border-radius: 2em;
    background-color: #A8DE92;
}

#text_presentation p {
    text-align: justify;
}

.glyphicon {
    float: left;
    clear: both;
}

#contact p {
    padding: 0.5em;
    text-align: right;
    line-height: 25px;
}

.info_contact {
    font-weight: bold;
		text-decoration: underline;
}

/*-----------------------parcours---------------------------*/

#career {
    margin-top: -170px;
    padding-top: 170px;
}

#title_career {
    background-color: #EDC566;
}

#content_career p {
    line-height: 2em;
}

.img_popschool {
    width: 100px;
    height: 100px;
    margin: auto;
}

.img_istv {
    width: 174px;
    height: 62px;
    margin: auto;
}

#career_middle_column {
    padding-bottom: 2.25em;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

/*----------------------competences----------------------------*/

#skills {
    margin-top: -95px;
    padding-top: 95px;
}

#title_skills {
    background-color: #79C965;
}

.block_img_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block_img_lang {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.img_prog,
.img_divers {
    width: 130px;
    height: 130px;
}

.img_lang {
    width: 130px;
    height: 130px;
}

#title_informatique {
    color: white;
    background-color: #206321;
}

.section_informatique {
    padding: 0.3em;
    border-radius: 1em;
    font-weight: bold;
    background-color: #A8DE92;
}

#title_languages {
    color: white;
    background-color: #206321;
}

#section_languages {
    border-left: 1px solid white;
}

/*---------------------experiences-----------------------------*/

#experiences {
    margin-top: -140px;
    padding-top: 140px;
}

#title_experiences {
    background-color: #EDC566;
}

#content_experiences {
    line-height: 40px;
}

#experiences_middle_column {
    padding: 0;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.img_laposte {
    float: right;
    width: 119px;
    height: 89px;
}

/*----------------------------loisirs------------------------------------*/

#title_hobbies {
    background-color: #79C965;
}

#content_hobbies {
    text-align: center;
}

.fa {
    padding-bottom: 0.1em;
}

/*-------------------------------footer---------------------*/

footer {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    color: white;
    background-color: #4F4F4F;
}

.icone {
    color: white;
}

.icone:hover {
    color: #62C3E3;
}

/*-----------mediaqueries-----------------------------*/

@media screen and (max-width:767px) {
    li {
        font-size: 13px;
    }

		#text_presentation {
		  width:40px;
		}

    /*-----------presentation-------------*/
		.titlename {
		    font-size: 15px;
		}

		.img-rounded {
		    height:174px;
				width:100px;
		}

    #presentation {
        margin-top: -100px;
        padding-top: 100px;
    }

		#text_presentation p{
			font-size : 10px;
			width:50%;
		}
    #contact p {
        text-align: center;
    }



    /*----------parcours----------------*/

    #career {
        margin-top: -180px;
        padding-top: 180px;
    }

    #career_middle_column {
        padding-bottom: 2.25em;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    /*----------competences--------------*/

    #skills {
        margin-top: -95px;
        padding-top: 95px;
    }

    .img_prog,
    .img_divers,
    .img_lang {
        width: 100px;
        height: 100px;
    }

    .block_img_lang {
        display: flex;
        flex-direction: row;
    }

    /*--------experiences----------*/

    #experiences {
        margin-top: -140px;
        padding-top: 140px;
    }

    #experiences_middle_column {
        padding: 0;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    @media screen and (min-width:768px) and (max-width:991px) {
    .img_prog,
    .img_divers,
    .img_lang {
        width: 100px;
        height: 100px;
    }

    .block_img_lang {
        display: flex;
    }

    #career {
        margin-top: -50px;
        padding-top: 50px;
    }
}
