body {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/*--------------------*/

#presentation {
    border-bottom: 3px solid white;
    background-image: linear-gradient(to bottom , #084F66, #4F8A9E);
}

.img-circle {
    width: 150px;
    height: 150px;
}

#mail {
    font-size: 1.1em;
    font-weight: bold;
}


#photo {
    margin: 2%;
    text-align: center;
}

#contenu_presentation{
    text-align: center;
    font-weight: bold;
    color: white;
}

/*----------------------*/

#description{
    margin-top: 1%;
    border: 3px solid white;
    color: white;
    background-color: #6DACC2;
    border-radius: 7px;
}

/*-----------------------------------*/

h2,
h3 {
    text-align: center;
}


/*------------------------------------*/

.langage {
    display: flex;
}

.progress {
    width: 57%;
    margin-left: 42%;
}

#competences p {
    float: left;
}

#competences {
    margin-top: 1%;
    background-color:yellow;
    border: 3px solid white;
    border-radius: 7px;
    padding:0;
}

#contenu_competences{
  background-image: linear-gradient(to bottom , #B3C4C3, #B4DBD9);
  padding:1%;

}

/*--------------------------------*/

#formation {
    margin-top: 1.5%;
    border: 3px solid white;
    box-shadow: 3px 3px 5px #8BA5AD;
    border-radius: 5px;
    text-align: center;
    background-color: yellow;
}

#contenu_formation{

      background-color: #B3C4C3;
      padding:4%;
}

/*----------------------------------*/

#experience {
    margin-top: 4%;
    padding-bottom: 1%;
    border: 3px solid white;
    text-align: center;
    background-color: yellow;
    border-radius: 7px;
    padding:0;
}

#contenu_experience{
  background-color: #B3C4C3;
  padding:1%;
}

/*-------------------------------*/

#hobbies {
    margin-top: 4%;
    border: 3px solid white;
    text-align: center;
    background-color: yellow;
    border-radius: 7px;

}

#contenu_hobbies{
  background-color: #B3C4C3;
  padding-bottom:2%;
}

/*-------------------------------------*/

footer{
background-image: linear-gradient(to bottom , #084F66, #4F8A9E);
text-align: center;
margin-top:5%;
border-top:3px solid white;
padding-bottom: 1%;
padding-top: 1%;
}
