body {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/*--------------------*/

#presentation {
    margin-top: 1%;
    border: 3px solid white;
    background-image: linear-gradient(to bottom , #084F66, #4F8A9E);
    border-radius: 7px;
}

.img-circle {
    width: 150px;
    height: 150px;
}

#mail {
    font-size: 1.1em;
    font-weight: bold;
}

/*-------------------------*/

#photo {
    margin: 2%;
    text-align: center;
}

#description {
    text-align: center;
    font-weight: bold;
    color: white;
}

/*----------------------*/

#DevWeb {
    margin-top: 1%;
    border: 3px solid white;
    color: white;
    background-color: #6DACC2;
    border-radius: 7px;
}

/*-----------------------------------*/

h2,
h3 {
    text-align: center;
}

/*------------------------------------*/

.langage {
    display: flex;
}

.progress {
    width: 57%;
    margin-left: 42%;
}

#competences p {
    float: left;
}

#competences {
    margin-top: 1%;
    background-image: linear-gradient(to bottom , #B3C4C3, #B4DBD9);
    border: 3px solid white;
    border-radius: 7px;

}

/*--------------------------------*/

#formation {
    margin-top: 1.5%;
    padding-bottom: 8%;
    border: 3px solid white;
    text-align: center;
    background-color: #B3C4C3;
    border-radius: 7px;
}

#diplome {
    margin-top: 3%;
}

/*----------------------------------*/

#experience {
    margin-top: 4%;
    padding-bottom: 1%;
    border: 3px solid white;
    text-align: center;
    background-color: #B3C4C3;
    border-radius: 7px;
}

/*-------------------------------*/

#interests {
    margin-top: 3%;
    padding-bottom: 1%;
    border: 3px solid white;
    text-align: center;
    background-color: #B3C4C3;
    border-radius: 7px;
    padding-bottom:1%;
}

#hobbies {
    margin-top: 3%;
}

/*-------------------------------------*/
